---
layout: page
title: 索引
description: 我关注的事情
header-img: "img/文章标题-2022.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>南有嘉鱼，烝然罩罩<br>
    君子有酒，嘉宾式燕以乐</p></blockquote>

    <p>这里呈现我正在关注的事情，还有一些我收集的文献资料（持续更新中）。</p>


    <p></p>
        
<h3 id="toc_0">闽南文献</h3>

<ul>
<li>中国地方志集成省志辑 · 福建 . PDF
<li>中国地方志集成福建府县志辑 . PDF
<li>闽中摭闻（清·陈云程）. JPG
<li>泉州府志24卷（明·阳思谦）. PDF
<li>宋元时期闽南的佛教寺院（黄敏枝）. PDF
<li>从《祖堂集》看唐末闽南方言“仔”缀语词的发展. PDF
<li>古刺桐港（庄为玑）. PDF
<li>福宁纪事（清·程荣春）. PDF
<li>清源文献（明·何炯）. PDF
<li>泉州方舆辑要 . PDF
<li>惠安政书附崇武所城志（明·叶春及） . PDF
<li>光绪大陆福建省县总图 . PDF
<li>南疆疆史 . PDF
<li>敕封天上圣母实录·泉州清源图 . PDF
<li>嘉靖惠安县志 . PDF
<li>泉南杂志（明·陈懋仁）. DOCX
<li>鸡肋编（宋·庄绰） . PDF
<li>唐宋时代闽南泉州史地论稿(苏基朗）. PDF
<li>改良畅所欲言（民国·杨氏）. PDF
<li>泉山铭（唐·林蕴）. DOCX
<li>惠东人研究 . PDF
<li>古代东南越人原始崇拜初探 . PDF
<li>《祖堂集》“还（有）...也无”与闽南方言“有无”疑问句式. PDF
<li>衣川贤次《泉州千佛新著诸祖师颂》与《祖堂集》. PDF
<li>敦煌遗书《泉州千佛新著诸祖师颂》研究 . PDF
<li>闽南方言与古汉语同源词典 . PDF
<li>甲申传信录·闽事纪略·遇变纪略·闽中纪略·甲乙日历 . PDF
<li>幸园笔耕录（陈泗东）. PDF
<li>心泉学诗稿 . DOCX
<li>闽大记（明·王应山）. PDF
<li>月是故乡明（王和声）. PDF
<li>泉州与中古的海外交通（李东华）. PDF
<li>闽南方言语法研究（李如龙）. PDF
<li>福建省渔船图集 . PDF
<li>福建三神考（民国·魏应麒）. PDF
<li>闽粤语和国语对照表 . PDF
<li>闽南语字汇 . PDF
<li>雪峰义存禅师语录（明 林弘衍编）. DOCX
<li>明代泉州府舆地图说 . PDF
<li>畲族研究论文集 . PDF
<li>清源山志 . PDF
<li>唐宋市舶遗事（民国·吴春熙） . PDF
<li>古今游记丛抄·闽遊纪略（清·王沄） . PDF
<li>闽小记（清·周公亮） . PDF
<li>海上见闻录定本（明·	阮氏）. PDF
<li>明代潮州戏文五种 . PDF
<li>闽国史事编年 . PDF
<li>明刊闽南戏曲弦管选本三种（龙彼得辑）. PDF
<li>嘉庆惠安县志·道光惠安县续志·干隆永春州志·民国永春县志 . PDF
<li>临海水土志（三国东吴·	沈莹）. PDF
<li>晋江古今诗词选 . PDF
<li>泉州文化史初探 . PDF
<li>十六世纪中国南部行纪（英·博克舍）.pdf
    
</ul>   
（请发邮件到<strong>Zayton@88.com</strong>获取以上资料）     
</ul>

<h3 id="toc_1">教程类</h3>

<ul>
<li>十分钟掌握三叶语字母和读音（<a href="{{site.baseurl}}/files/三叶语-语音.pdf">中文</a>，English）</li>
<li>一小时掌握三叶语单词结构和基础单词</li>
<li>半小时掌握三叶语语法和简单语句</li>
<li>阅读材料</li>
<li>Memrise教程</li>
</ul>

<h3 id="toc_2">词典类</h3>

<ul>
<li><a href="https://twblg.dict.edu.tw/holodict_new/">台湾闽南语常用辞典</a></li>
<li><a href="https://wcd-ihp.ascdc.sinica.edu.tw/union/search.php">历史文字资料库检索系统</a></li>
</ul>

<h3 id="toc_3">网站类</h3>

<ul>
<li>Good Books（英文）：<a href="https://www.goodbooks.io/">名人推荐的书籍</a></li>
<li>Conlang维基 (English)：<a href="https://conlang.fandom.com/wiki/Klovien_%E4%B8%89%E5%8F%B6%E8%AF%AD">Klovien 三叶语</a></li>
<li>百度人造语言吧：<a href="https://tieba.baidu.com/p/6009002082">三叶草国际语</a></li>
</ul>

<hr>

<small> <font color="a0a9a9">
<b>特别说明：</b>
<li>这里裒辑的文献资料仅供学习，请勿用于商业牟利。</li>
<li>若出现文件无法下载的情况，请咨询作者。</li>
</font>
<small>
        
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'resources',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

